<div class="container">
  Voltar
  <div class="content">
    <div class="weather-content">
      <div class="weather-icon"></div>
      <div class="weather-temperature">
        <div>
          <mat-icon color="primary">arrow_downward</mat-icon>Mín:
          {{ dadosCidade.main.temp_min }}ºC
        </div>
        <div>
          <mat-icon color="warn">arrow_upward</mat-icon>Máx:
          {{ dadosCidade.main.temp_min }}ºC
        </div>
      </div>
    </div>

    <div class="weather-advanced-description">
      <p>
        O tempo em {{ dadosCidade.name }} atualmente está
        {{ dadosCidade.weather[0].description }}.
      </p>
      <p>A temperatura atual é de {{ dadosCidade.main.temp }}ºC</p>

      <p>Sensação térmica de {{ dadosCidade.main.feels_like }}ºC</p>
      <p>
        Umidade:
        {{ dadosCidade.main.humidity }}%
      </p>
    </div>
  </div>
</div>
